@font-face {
    font-family: myFont;
    src: url(font.ttf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap'); */


body {
    /* font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    font-family: myFont;
    background-image: url('Images/pink.jpg');
    background-size: cover;
    text-align: center;
    color: yellow;
}

h1 {
    font-size: 60px;


}

h2 {
    color: black;
    font-size: 40px;
}

h3 {
    color: chartreuse;
    font-size: 50px;
    font-family: myFont;

}

button {
    font-family: myFont;
    font-size: 20px;
    background-color: rgb(241, 241, 105);
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
}

input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    background-image: url('Images/pink.jpg');
    color: blue;


}

button {
    cursor: pointer;
    
}

button:hover{
    width: 105px;
    height: 35px;
    background-color:lightgreen;
}